:host{



  .toolbar {

    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:var(--primary);
    color: white;
    font-weight: 600;
    h1{
      font-size: 1.6875rem;
    }
    .spacer {
      flex: 1;
    }
  }

}
