/*
* Define general variables like background color
* Also, override bootstrap colors for default, success, danger, warning etc
*/

$body-bg: #e7f2ff;
$primary: #1B1464;
$success: #14DB77;
$orange: #f16521;
$light: #e9ecef;
